/*
white background: #ffffff ;
grey:  #e5e5e5;
darker grey: #dee2e6;
Dark blue:  #14213d;
orange: #fca311;
black: #000000 ;


good green:
-fx-background-color: #1de9b6;
good text:  
-fx-text-fill: #000021;

bad red: 
-fx-background-color: #ff5000 ;
bad text: 
-fx-text-fill: #FFFFFF;


*/

.root{
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI";
}
.label{
    -fx-font-size:  18px;
    -fx-font-weight: bold;
}

.button{
    -fx-border-color: transparent;
    -fx-background-color: #CCCCCC;
    -fx-font-size:  16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.8), 3, 0, 3, 3);
}
.button:pressed {
    -fx-background-color: #BBBBBB;
}

.text-field {
    -fx-background-color: #e5e5e5,#ffffff ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;

    -fx-font-size:  12px;
}
.text-field:focused {
    -fx-background-color: #dee2e6,#ffffff ;
}
.table-view{
    -fx-background-color: white ;

}